<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hailin.admin.dao.ConfigDao">

    <update id="delete"  >
        UPDATE config SET public_status=2 WHERE group_id=#{configId.data.group} AND data_id=#{configId.data.dataId} AND profile=#{configId.data.profile} AND version=#{oldVersion}
    </update>

    <select id="findCurrentConfigInfo" parameterType="com.hailin.server.common.bean.ConfigMeta" resultType="configInfoWithoutPublicStatus">
        SELECT group_id,profile,data_id,version,public_status,update_time FROM config WHERE group_id=#{group} AND data_id=#{dataId} AND profile=#{profile}
    </select>

    <insert id="create" >
        INSERT INTO config(group_id,data_id,profile,version,create_time) VALUES(#{meta.group},#{meta.dataId},#{meta.profile},#{version},now())
    </insert>

    <update id="update">
        UPDATE config SET version=#{editVersion},public_status=#{inuse} WHERE group_id=#{meta.group} AND data_id=#{meta.dataId} AND profile=#{meta.profile} AND version=#{version}
    </update>

</mapper>